/// Copy text color
/// @type Color
$text-color: #171717 !default;

/// Main color
/// @type Color
$main-color: #fde160 !default;

/// Main brand color
/// @type Color
$brand-color: #ab2622 !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
