.icon-container {
  position: absolute;
  right: 0;
  top: 0;
  background: $main-color;
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  color: $brand-color;
  font-size: 25px;
}

@mixin main-heading($background, $weight: 400) {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: $weight;
  font-size: 22px;
  margin-bottom: 20px;
  background: $background;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

main { 
  display: flex;
  height: 100vh;

  .column {
    flex: 50%;
  }

  .brand {
    background-image: url('../images/restaurant.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__container {
      background: #ab2622;
      padding: 15px;
      color: white;
      width: 50%;
      margin: auto;
    }

    &__name {
      line-height: 1.4;
      letter-spacing: 1.5px;
      font-weight: 800;
      font-size: 22px;
      text-align: center;
    }

    &__address {
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 1px;
      font-size: 13px;
      text-align: center;
      margin-top: 5px;
    }

    .basket {
      @extend .icon-container;

      &__icon {
        @extend .icon;
      }

      &__number {
        position: absolute; 
        font-size: 11px; 
        background: white; 
        color: #161616; 
        border-radius: 100px; 
        padding: 1px 5px; 
        top: 6px; 
        right: 0; 
        font-weight: 700; 
        border: 1px solid #ab2622;  
      }
    }
  }

  section.list {
    overflow: scroll;
    max-height: 100vh;

    .category {
      margin-bottom: 45px;

      &__title {
        @include main-heading($main-color, 800);
      }
    }
  }

  .product {
    margin-bottom: 10px;
    display: flex;
    padding: 7px 0;

    &:hover {
      background: #f8f8f8;
    }

    &__main {
      flex: 93%;
    }

    &__counter {
      display: flex;
      flex-direction: column;
      flex: 7%;
      margin-right: 13px;
      align-items: center;

      i {
        pointer-events: none;
      }

      &-button {
        width: 100%;
        padding: 5px;
        font-size: 13px;
        border-radius: 6px;

        &--add {
          background: white;
          border: 1px solid $brand-color;
          color: $brand-color;
        }

        i {
          margin-bottom: 5px;
        }

        &--added {
          background: $brand-color;
          color: white;
        }
      }

      &-add, &-remove {
        color: darken($brand-color, 10%);
        cursor: pointer;
        pointer-events: inherit !important;
      }
    }

    &__delete {
      background: #ab2622;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-right: 0;
      margin-left: 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;

      i {
        pointer-events: none;
      }
    }

    &__amount {
      font-size: 14px;
    }

    &__title {
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 1px;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    &__dots {
      position: relative;
      top: -4px;
      margin: 0 9px;
      border-bottom: 1px dashed black;
      flex: 1;
    }

    &__details {
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: 1px;
      font-size: 14px;
    }

    &__price {
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 1.5px;
      font-size: 14px;
      color: #ab2622;
    }
  }
}

.basket-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: $main-color;
  padding: 50px;
  visibility: hidden;

  &--show {
    visibility: visible;
  }

  &__close {
    @extend .icon-container;

    &-icon {
      @extend .icon;
    }
  }

  &__heading {
    @include main-heading(white);
    justify-content: center;
    font-weight: 600;
    height: 51px;
    border: 1px solid $brand-color;
    color: $brand-color;
  }

  &__total {
    &-container {
      @include main-heading(white, 600);
      justify-content: space-between;
      height: 51px;
      border: 1px solid $brand-color;
      color: $brand-color;
    }
  }

  &__clear {
    @include main-heading($brand-color, 400);
    color: white;
    margin: auto;
    font-size: 15px;
  }
}