html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #171717;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 100%;
  border: 25px solid #fde160;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
}

.icon-container, main .brand .basket, .basket-details__close {
  position: absolute;
  right: 0;
  top: 0;
  background: #fde160;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.icon, main .brand .basket__icon, .basket-details__close-icon {
  color: #ab2622;
  font-size: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

main .column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

main .brand {
  background-image: url("../images/restaurant.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main .brand__container {
  background: #ab2622;
  padding: 15px;
  color: white;
  width: 50%;
  margin: auto;
}

main .brand__name {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
}

main .brand__address {
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

main .brand .basket__number {
  position: absolute;
  font-size: 11px;
  background: white;
  color: #161616;
  border-radius: 100px;
  padding: 1px 5px;
  top: 6px;
  right: 0;
  font-weight: 700;
  border: 1px solid #ab2622;
}

main section.list {
  overflow: scroll;
  max-height: 100vh;
}

main section.list .category {
  margin-bottom: 45px;
}

main section.list .category__title {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 20px;
  background: #fde160;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

main .product {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0;
}

main .product:hover {
  background: #f8f8f8;
}

main .product__main {
  -webkit-box-flex: 93%;
      -ms-flex: 93%;
          flex: 93%;
}

main .product__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 7%;
      -ms-flex: 7%;
          flex: 7%;
  margin-right: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .product__counter-button {
  width: 100%;
  padding: 5px;
  font-size: 13px;
  border-radius: 6px;
}

main .product__counter-button--add {
  background: white;
  border: 1px solid #ab2622;
  color: #ab2622;
}

main .product__counter-button i {
  margin-bottom: 5px;
}

main .product__counter-button--added {
  background: #ab2622;
  color: white;
}

main .product__counter-add, main .product__counter-remove {
  color: #801d1a;
  cursor: pointer;
}

main .product__delete {
  background: #ab2622;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-right: 0;
  margin-left: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

main .product__amount {
  font-size: 14px;
}

main .product__title {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
}

main .product__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

main .product__dots {
  position: relative;
  top: -4px;
  margin: 0 9px;
  border-bottom: 1px dashed black;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .product__details {
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 14px;
}

main .product__price {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-size: 14px;
  color: #ab2622;
}

.basket-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: #fde160;
  padding: 50px;
  visibility: hidden;
}

.basket-details--show {
  visibility: visible;
}

.basket-details__heading {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
  background: white;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  height: 51px;
  border: 1px solid #ab2622;
  color: #ab2622;
}

.basket-details__total-container {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  background: white;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 51px;
  border: 1px solid #ab2622;
  color: #ab2622;
}

.basket-details__clear {
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
  background: #ab2622;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  color: white;
  margin: auto;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .basket-details {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */