@media screen and (max-width: 768px) {
  main {
    flex-direction: column;

    .brand {
      position: fixed;
      height: 95px;

      &__name {
        font-size: 15px;
      }

      &__description {
        font-size: 10px;
      }

      &__container {
        width: 70%;
        height: 100%;
      }
    }

    section.list {
      margin-top: 95px;

      .category {
        margin-bottom: 20px;

        &__title {
          font-size: 14px;
          letter-spacing: 1px;
          margin-bottom: 10px;
        }
      }
    }

    .product {
      &__title {
        font-size: 14px;
      }

      &__details {
        font-size: 11px;
      }
    }
  }
  
  .basket-details {
    width: 100%;
  }
}