body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: $text-color;
}

h1 {font-size: 24px;}
h2 {font-size: 21px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 15px;}
h6 {font-size: 14px;}